{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="uk">

  <head>
    <meta charset="utf-8"/>
	<title>Сервіс Обліку Студентів - {% block meta_title %}{% endblock meta_title %}</title>
	<meta name="description" value="Система Обліку Студентів Навчального Закладу" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- Include Styles -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css">
	
	<link rel="stylesheet" href="{{ PORTAL_URL }}{% static "css/main.css" %}">
		
	<!-- add jQuery -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type='text/javascript' src='script.js'></script>
	
	{% block extra_css %}{% endblock extra_css %}
	
  </head>
  
  <body>
    <div id="container"> 
	
	<!-- Start Container -->
	<div class="container">
	
	  <!-- Start Header -->
	  <div class="row" id="header">
	  
	    <!-- Logo -->
		<div class="col-xs-8">
		  <h1>Сервіс Обліку Студентів</h1>
		</div>
		
		<!-- Groups Selector -->
		<div class="col-xs-4" id="group-selector">
			<strong>Група:</strong>
			<select>
			  <option value="">Усі Студенти</option>
			  <option value="">МтМ - 21, Орест Муха (№ 254)</option>
			  <option value="">МтМ - 22, Корост Андрій (№ 2123)</option>
			</select>
		</div>
	  </div>
	  <!-- End Header -->
	  
	  <!-- Start SubHeader -->
	
	  <div class="row" id="sub-header">
	    <div class="col-xs-12">
		  <ul class="nav nav-tabs" role="tablist">
			<li role="presentation" {% if request.path == url_home %} class="active" {% endif %}><a href="{% url "home" %}">Студенти</a></li>
			<li role="presentation" {% if request.path == url_journal %} class="active" {% endif %}><a href="{% url "journal" %}">Відвідування</a></li>
			<li role="presentation" {% if request.path == url_groups %} class="active" {% endif %}><a href="{% url "groups" %}">Групи</a></li>
			<li role="presentation" {% if request.path == url_exam %} class="active" {% endif %}><a href="{% url "exam" %}">Іспити</a></li>
			<li role="presentation" {% if '/contact-admin' in request.path %} class="active"{% endif %}><a href="{% url "contact_admin" %}">Контакт</a></li>
		  </ul>
		</div>
	  </div>
	  </div>
</div>
<p><span id="status" ></span></p>
	  <!-- End SubHeader -->
	  
	  <!-- Start Content Columns-->
	  <div class="row" id="content-columns">
	  
	    <div class="col-xs-12" id="content-column">
		
		  {% block status_message %}
		  {% if request.GET.status_message %}
		  <div class="alert alert-warning" role="alert">{{ request.GET.status_message }}</div>
		  {% endif%}
		  
		  {% endblock %}
		
		  <h2>{% block title %}{% endblock title %}</h2>
		  {% block content %}{% endblock content %}
		
		  </div>
		</div>
		<!-- End Content Columns -->
		
		<!-- Start Footer -->
	  <div class="row" id="footer">
	    <div class="col-xs-12">
		  &copy; 2014 Сервіс Обліку Студентів
		</div>
	  </div>
	  <!-- End Footer -->
	  
	</div>

	<!-- End Container -->
	

	<!-- Javascripts Inclusion -->
	

	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
	<script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	{% block extra_js %}{% endblock extra_js %}
  </body>
 </html>