{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load pagenav %}

{% block meta_title %}{% trans "List Students" %}{% endblock meta_title %}

{% block title %}{% trans "List Students" %}{% endblock title %}

{% block content %}

<a href="{% url "exam_add" %}" id="exam-add-form-link" class="btn btn-primary">{% trans "Add Exam" %}</a>

<!-- Starts Students Listing -->
  <table class="table table-hover table-striped">
  {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
    <thead>
	  <tr>
		<th>
		  <a class="content-sorting" href="{% url "exam" %}?order_by=id{% if order_by == 'id' and reverse != '1' %}&amp;reverse=1{% endif %}">
		№
		{% if order_by == 'id' and reverse != '1' %}&uarr;
		{% elif order_by == 'id' and reverse == '1' %}&darr;
		{% endif %}</a>
		</th>
		
		<th>
		  <a class="content-sorting" href="{% url "exam" %}?order_by=name{% if order_by == 'name' and reverse != '1' %}&amp;reverse=1{% endif %}">
		{% trans "Name of the subject" %}
		{% if order_by == 'name' and reverse != '1'%}&uarr;
		{% elif order_by == 'name' and reverse == '1' %}&darr;
		{% endif %}</a>
		</th>
		
		<th>
		  <a class="content-sorting" href="{% url "exam" %}?order_by=teacher{% if order_by == 'teacher' and reverse != '1' %}&amp;reverse=1{% endif %}">
		{% trans "Teacher" %}
		{% if order_by == 'teacher' and reverse != '1' %}&uarr;
		{% elif order_by == 'teacher' and reverse == '1' %}&darr;
		{% endif %}</a>
		</th>
			
		<th>
		  <a class="content-sorting" href="{% url "exam" %}?order_by=data_time{% if order_by == 'data_time' and reverse != '1' %}&amp;reverse=1{% endif %}">
		{% trans "data and time" %}
		{% if order_by == 'data_time' and reverse != '1'%}&uarr;
		{% elif order_by == 'data_time' and reverse == '1' %}&darr;
		{% endif %}</a>
		</th>
			
		<th>
		  <a class="content-sorting" href="{% url "exam" %}?order_by=group{% if order_by == 'group' and reverse != '1' %}&amp;reverse=1{% endif %}">
		{% trans "Group" %}
		{% if order_by == 'group' and reverse != '1' %}&uarr;
		{% elif order_by == 'group' and reverse == '1' %}&darr;
		{% endif %}</a>
		</th>
	  </tr>
	</thead>
	{% endwith %}
	<tbody>
	{% for exam in exam %}
	<tr>
	  <td>{{ forloop.counter }}</td>
		<td><a href="{% url "exam_edit" exam.id %}" class="exam-edit-form-link">{{ exam.name }}</td>
		<td><a href="{% url "exam_edit" exam.id %}" class="exam-edit-form-link">{{ exam.teacher }}</td>
		<td><a href="{% url "exam_edit" exam.id %}" class="exam-edit-form-link">{{ exam.data_time }}</td>
		<td><a href="{% url "exam_edit" exam.id %}" class="exam-edit-form-link">{{ exam.group }}</td>
	  </td>
	  <td>
	  <div class="btn-group">
		<button class="btn btn-default dropdown-toggle" type"button" data-toggle="dropdown">{% trans "Actions" %}<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
		  <li><a href="{% url "exam_edit" exam.id %}" class="exam-edit-form-link">{% trans "Edit" %}</a></li>
		  <li><a href="{% url "exam_delete" exam.id %}" class="exam-delete-form-link">{% trans "Delete" %}</a></li>
		</ul>
	 </div>
	 </td>
	</tr>
	{% endfor %}
			  
	</tbody>
	</table>
	<!-- End Students Listing -->
{% pagenav exam is_paginated paginator %}

{% endblock content %}