{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Список Іспитів{% endblock meta_title %}

{% block title %}База Студентів{% endblock title %}

{% block content %}

<a href="{% url "exam_add" %}" class="btn btn-primary">Додати Іспит</a>

<!-- Starts Students Listing -->
  <table class="table table-hover table-striped">
  {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
    <thead>
	  <tr>
		<th>
		<a href="{% url "exam" %}?order_by=id{% if order_by == 'id' and reverse != '1' %}&amp;reverse=1{% endif %}">
		№
		{% if order_by == 'id' and reverse != '1' %}&uarr;
		{% elif order_by == 'id' and reverse == '1' %}&darr;
		{% endif %}</a></th>
		
		<th>
		<a href="{% url "exam" %}?order_by=name{% if order_by == 'name' and reverse != '1' %}&amp;reverse=1{% endif %}">
		Назва предмета
		{% if order_by == 'name' and reverse != '1'%}&uarr;
		{% elif order_by == 'name' and reverse == '1' %}&darr;
		{% endif %}</a></th>
		
		<th>
		<a href="{% url "exam" %}?order_by=teacher{% if order_by == 'teacher' and reverse != '1' %}&amp;reverse=1{% endif %}">
		Викладач
		{% if order_by == 'teacher' and reverse != '1' %}&uarr;
		{% elif order_by == 'teacher' and reverse == '1' %}&darr;
		{% endif %}</a></th>
			
		<th>
		<a href="{% url "exam" %}?order_by=data_time{% if order_by == 'data_time' and reverse != '1' %}&amp;reverse=1{% endif %}">
		Дата і Час
		{% if order_by == 'data_time' and reverse != '1'%}&uarr;
		{% elif order_by == 'data_time' and reverse == '1' %}&darr;
		{% endif %}</a></th>
			
		<th>
		<a href="{% url "exam" %}?order_by=group{% if order_by == 'group' and reverse != '1' %}&amp;reverse=1{% endif %}">
		Група
		{% if order_by == 'group' and reverse != '1' %}&uarr;
		{% elif order_by == 'group' and reverse == '1' %}&darr;
		{% endif %}</a></th>
	  </tr>
	</thead>
	{% endwith %}
	<tbody>
	{% for exam in exam %}
	<tr>
	  <td>{{ forloop.counter }}</td>
		<td><a href="{% url "exam_edit" exam.id %}">{{ exam.name }}</td>
		<td><a href="{% url "exam_edit" exam.id %}">{{ exam.teacher }}</td>
		<td><a href="{% url "exam_edit" exam.id %}">{{ exam.data_time }}</td>
		<td><a href="{% url "exam_edit" exam.id %}">{{ exam.group }}</td>
	  </td>
	  <td>
	  <div class="btn-group">
		<button class="btn btn-default dropdown-toggle" type"button" data-toggle="dropdown">Дія<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
		  <li><a href="{% url "exam_edit" exam.id %}">Редагувати Іспит</a></li>
		  <li><a href="{% url "exam_delete" exam.id %}">Видалити Іспит</a></li>
		</ul>
	 </div>
	 </td>
	</tr>
	{% endfor %}
			  
	</tbody>
	</table>
	<!-- End Students Listing -->
{% with object_list=students %}
{% include "students/pagination.html" %}
{% endwith %}
{%block pagination%}{%endblock pagination%}

{% endblock content %}