{% extends "students/base.html" %}

{% block meta_title %}Список Груп{% endblock meta_title %}

{% block title %}Список Груп{% endblock title %}

{% block content %}

<!-- Starts Students Listing -->
  {% if groups %}
  <table class="table">
    <thead>
	  <tr>
		<th><a href="#">#</th>
		<th><a href="#">Назва &uarr;</a></th>
		<th><a href="#">Староста</a></th>
		<th>Дії</th>
	  </tr>
	</thead>
	<tbody>
	{% for group in groups %}
	<tr>
	  <td>{{ forloop.counter }}</td>
	  <td><a href="{% url "groups_edit" group.id %}">{{ group.name }}</td>
	  <td><a href="{% url "groups_edit" group.id %}">{{ group.leader }}</td>
	<td>
	  <div class="btn-group">
		<button class="btn btn-default dropdown-toggle" type"button" data-toggle="dropdown">Дія<span class="caret"></span>
		</button>
		  <ul class="dropdown-menu" role="menu">
		    <li><a href="{% url "groups_edit" group.id %}">Редагувати</a></li>
		    <li><a href="{% url "groups_delete" group.id %}">Видалити</a></li>
		  </ul>
	    </div>
	  </td>
	 </tr>
	 {% endfor %}
			  
	</tbody>
	</table>
	<!-- End Students Listing -->
	{% include "students/pagination.html" %}
	
    {% else %}
      <p>Поки немає груп у базі.</p>
    {% endif %}
	
{% endblock content %}