{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}

{% block meta_title %}Видалити Групу{% endblock meta_title %}

{% block title %}Видалити Групу{% endblock title %}

{% block content %}

<form action="{% url "groups_delete" object.id %}" method="post">
	{% csrf_token %}
	<p>{% blocktrans %}Do you really want to delete group: "{{ object }}"?{% endblocktrans %}</p>
	<input type="submit" value="Так" name="delete_button" class="btn btn-danger" /><br /><br />
	<p>{% trans "If you don't want press cancel" %}</p>
	<input type="submit" value="Скасувати" name="cancel_button" class="btn btn-primary" /><br /><br />
</form>
 
{% endblock content %}
