{% extends "students/base.html" %}

{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block meta_title %}{% trans "Edit Group" %}{% endblock meta_title %}

{% block title %}{% trans "Edit Group" %}{% endblock title %}

{% block status_message %}
  {% if errors %}
  <div class="alert alert-warning" role="alert">
    {% trans "Please, correct the following errors" %}
  </div>
  {% endif %}
  
{% endblock status_message%}

{% block content %}

{% crispy form %}

{% endblock content %}
