{% extends "students/base.html" %}

{% block meta_title %}Список Груп{% endblock meta_title %}

{% block title %}Список Груп{% endblock title %}

{% block content %}

<!-- Starts Students Listing -->
  
  <table class="table">
  {% with order_by=request.GET.order_by reverse=request.GET.reverse %}
    <thead>
	  <tr>
		<th>
		<a href="{% url "groups" %}?order_by=id{% if order_by == 'id' and reverse != '1' %}&amp;reverse=1{% endif %}">
		#
		{% if order_by == 'id' and reverse != '1' %}&uarr;
		{% elif order_by == 'id' and reverse == '1' %}&darr;
		{% endif %}</a></th>
		<th>
		<a href="{% url "groups" %}?order_by=title{% if order_by == 'title' and reverse != '1' %}&amp;reverse=1{% endif %}">
		Назва 
		{% if order_by == 'title' and reverse != '1' %}&uarr;
		{% elif order_by == 'title' and reverse == '1' %}&darr;
		{% endif %}</a></th>
		<th>
		<a href="{% url "groups" %}?order_by=leader{% if order_by == 'leader' and reverse != '1' %}&amp;reverse=1{% endif %}">
		Староста
		{% if order_by == 'leader' and reverse != '1' %}&uarr;
		{% elif order_by == 'leader' and reverse == '1' %}&darr;
		{% endif %}</a></th>
		<th>Дії</th>
	  </tr>
	</thead>
	{% endwith %}
	<tbody>
	{% for group in groups %}
	<tr>
	  <td>{{ forloop.counter }}</td>
	  <td><a href="{% url "groups_edit" group.id %}">{{ group.title }}</td>
	  <td><a href="{% url "groups_edit" group.id %}">{{ group.leader }}</td>
	<td>
	  <div class="btn-group">
		<button class="btn btn-default dropdown-toggle" type"button" data-toggle="dropdown">Дія<span class="caret"></span>
		</button>
		  <ul class="dropdown-menu" role="menu">
		    <li><a href="{% url "groups_edit" group.id %}">Редагувати</a></li>
		    <li><a href="{% url "groups_delete" group.id %}">Видалити</a></li>
		  </ul>
	    </div>
	  </td>
	 </tr>
	 {% endfor %}
			  
	</tbody>
	</table>
	<!-- End Students Listing -->
{% with object_list=students %}
{% include "students/pagination.html" %}
{% endwith %}
{%block pagination%}{%endblock pagination%}

{% endblock content %}