h1 {
	font-weight: bold;
}
#form {
	width: 85%;
	margin-left: 40px;
	width: 838px;
}
#form-table{
	border-spacing: 30px 30px;
	margin-left: 40px;

}
#header {
	text-align: center;
	margin-left: 40px;
}
#value1 {
	color: #333;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	padding: 10px;
	text-align: right;
}
#name2 {
	color: #333;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
}
#button1{
	margin-left: 300px;
	margin-top: 20px;
}
#button2 {
	margin-left: 3px;
	margin-top: 20px;
}
#text-area {
	height: 70%;
}
#selected {
	width: 30%;
	height: 30px;
}
#button-footer {
	background-color: #f9f9f9;
}