{% extends "students/base.html" %}

{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block meta_title %}Зв'язок із Адміністратором{% endblock meta_title %}

{% block title %}Зв'язок із Адміністратором{% endblock title %}

{% block status_message %}
  {% if form.errors %}
	<div class="alert alert-warning" role="alert">
		Будь-ласка, виправте наступні помилки
	</div>
  {% endif%}
  {%if messages %}
	{% for message in messages %}
 		<div class="alert alert-warning" role="alert">
			{{message}}
  		</div>
	 {%endfor%}
{%endif%}
	
  {{ block.super }}
  {% endblock status_message%}

{% block content %}

{% crispy form %}
	
{% endblock content %}
